<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>


        <!-- Exibir mensagens de erro -->
           {{#if erros}}
          <div class="alert alert-danger">{{erros}}</div>
        {{/if}}
   
<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h1 class="text-center mb-4"><strong>CRIANDO USUÁRIO</strong></h1>
      <form action="/admin/addcategorias" method="POST">
        <!-- Nome do Game -->
        <div class="mb-3">
          <label for="name" class="form-label"><strong>Nome do usuário:</strong></label>
          <input type="text" name="name" id="name" class="form-control" required>
        </div>
        
        <!-- Gênero do Game -->
        <div class="mb-3">
          <label for="genero" class="form-label"><strong>idade do usuário:</strong></label>
          <input type="text" name="genero" id="genero" class="form-control" required>
        </div>

        <!-- Ano do Game -->
        <div class="mb-3">
          <label for="subtipo" class="form-label"><strong>Hierarquia:</strong></label>
          <input type="text" name="subtipo" id="subtipo" class="form-control" required>
        </div>

        <!-- Botão de Submissão -->
        <button class="btn btn-success" type="submit">Adicionar game</button>
      </form>
    </div>
  </div>
</div>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
